{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2>Select a generated UV atlas</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="{{url_for('static', filename='input_000_random_sample01.png')}}" alt="Chicago" style="width:25%;">
        <div class="carousel-caption">
          <h3><a href="{{url_for('texture_choice', choice='input_000_random_sample01.png', uv_mode=uv_mode)}}">Texture 1</a></h3>
        </div>
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='input_000_random_sample02.png')}}" alt="Chicago" style="width:25%;">
        <div class="carousel-caption">
          <h3><a href="{{url_for('texture_choice', choice='input_000_random_sample02.png', uv_mode=uv_mode)}}">Texture 2</a></h3>
        </div>
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='input_000_random_sample03.png')}}" alt="Chicago" style="width:25%;">
        <div class="carousel-caption">
          <h3><a href="{{url_for('texture_choice', choice='input_000_random_sample03.png', uv_mode=uv_mode)}}">Texture 3</a></h3>
        </div>
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='input_000_random_sample04.png')}}" alt="Chicago" style="width:25%;">
        <div class="carousel-caption">
          <h3><a href="{{url_for('texture_choice', choice='input_000_random_sample04.png', uv_mode=uv_mode)}}">Texture 4</a></h3>
        </div>
      </div>

      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




{% endblock %}