{% extends "base.html" %}
 {% block content %}
     <br>
     <div class="container">
       <div class="jumbotron">
         <div class="row">
          <div class="col" id="trend-nav">

            <h2><b>Input:</b></h2>
              <p> Click to specify orientation and select unwrapping algorithm.</p>
          <div class="mySlides">
            <div class="numbertext">1 / 2</div>
              <canvas id="canvas">

            </canvas>
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 2</div>
              <canvas id="canvas2">

            </canvas>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- Image text -->
          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <!-- Thumbnail images -->
          <div class="row">
            <div class="column">
              <img class="demo cursor" src="{{url_for('static', filename='in.png')}}" style="width:50%" onclick="currentSlide(1)" alt="Default Unwrap">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{url_for('static', filename='in2.png')}}" style="width:50%" onclick="currentSlide(2)" alt="Smart UV Project">
            </div>
          </div>


                  <img id="outline" width="256" height="256" src="{{url_for('static', filename='outline1.png')}}" alt="Outline"
         style="display: none">

          <img id="outline2" width="256" height="256" src="{{url_for('static', filename='outline2.png')}}" alt="Outline"
         style="display: none">

        <img id="arrow" width="44" height="44" src="{{url_for('static', filename='h_arrow.png')}}" alt="Outline"
             style="display: none">

        <canvas id="canvas">

    </canvas>

      </div>

           <div class="col-6" id="col">

            <h2><b>Generator Settings:</b></h2>

               {{ form.hidden_tag() }}

{#               <h3>Input</h3>#}
{#                <p>{{ form.uv_map }}</p>#}

               <h3>Material</h3>
                  <select id="mats">
                    <option value="Wood">Wood</option>
                    <option value="Rough Cloth">Rough Cloth</option>
                    <option value="Smooth Leather">Leather</option>
                    <option value="Composite Board">Composite Board</option>
                  </select>

                   {% if reference_texture %}
                        <br>
                        <h3>Use refence texture</h3>
                          <select id="ref_tex">
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                          </select>
                   {% endif %}

                  <br><br>
                 <input id="settings" value="Generate" type="submit"  class="btn btn-primary">

           </div>

             <p id="loading" style="display: none; color: orange">Processing ...</p>

             <div id="result_btn" style="display: none; color: #00c853">
                 <a id="result_text" style="color: #00c853"><h3>View textures</h3></a>

             </div>


             </div>


           </div>
         </div>

     <script src="{{ url_for('static', filename="choice.js") }}"></script>


 {% endblock %}
