{% extends 'base.html' %}
{% block content %}
<div class="container">

        <h1>Welcome</h1>

        <div class="jumbotron">

            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 <ul>
                 {% for message in messages %}
                     <li> <p class="error">{{ message }}</p> </li>
                 {% endfor %}
                 </ul>
               {% endif %}
            {% endwith %}

            <h2>Upload Model (.obj)</h2>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <br>
                <p>Upload a reference texture (optional)</p>
                <input type="file" name="file">
                <br><br>
                <button type="submit"> Upload </button>
            </form>


        </div>

    </div>


{% endblock %}