{% extends 'base.html' %}
{% block content %}
    <h2>Test</h2>

    <p>Image to use:</p>
    <img id="outline" width="256" height="256" src="{{url_for('static', filename='outline.png')}}" alt="Outline"
         style="display: none">


    <img id="arrow" width="44" height="44" src="{{url_for('static', filename='h_arrow.png')}}" alt="Outline"
         style="display: none">

    <canvas id="canvas">

    </canvas>
    <script src="{{url_for('static', filename='orientation_canvas.js')}}"></script>
{% endblock %}