{% extends 'base.html'%}
{% block content %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" integrity="sha512-yNJzAsg5JyP91u+sLHlUDULMBd3hmEiVkYeeN1cQBKaLZ7EyT6oH2u5THNIRM2Fu6VKcZJv+F/QAp1h/qzy9Ow==" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script type="module">


        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

        var renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);



        // create shape
        // {#var geometry = new THREE.BoxGeometry(1, 1, 1);#}
        // {##}
        // {#// create a material, colour or image texture#}
        // {#let material = new THREE.MeshBasicMaterial({color: 0xFFFFFF, wireframe: false});#}
        // {#let cube = new THREE.Mesh(geometry, material);#}
        // {#scene.add(cube);#}

         // Load Light
        var ambientLight = new THREE.AmbientLight( 0xcccccc );
        scene.add( ambientLight );

        var directionalLight = new THREE.DirectionalLight( 0xffffff );
        directionalLight.position.set( 0, 1, 1 ).normalize();
        scene.add( directionalLight );

        camera.position.z = 4;


        const loader = new THREE.GLTFLoader();

    let model;

    // Load a glTF resource
    loader.load(
        // resource URL
        '{{ url_for('static', filename='bed.glb') }}',
        // called when the resource is loaded
        function ( gltf ) {

            scene.add( gltf.scene );

            gltf.animations; // Array<THREE.AnimationClip>
            model = gltf.scene; // THREE.Group
            gltf.scenes; // Array<THREE.Group>
            gltf.cameras; // Array<THREE.Camera>
            gltf.asset; // Object

        },
        // called while loading is progressing
        function ( xhr ) {

            console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

        },
        // called when loading has errors
        function ( error ) {

            console.log( error );

        }
    );


        // listen for a resize event
        window.addEventListener('resize', function() {
            let width = window.innerWidth;
            let height = window.innerHeight;
            renderer.setSize(width, height);
            camera.aspect = width/height;
            camera.updateProjectionMatrix();
        });


        var update = function() {
            model.rotation.y += 0.005
        // {#cube.rotation.y += 0.02#}
        };

        var render = function() {
        renderer.render(scene, camera);
        };

        var game_loop = function() {
          requestAnimationFrame(game_loop);

          update();
          render();
        };

        game_loop();
    </script>

{% endblock %}